.instagram-area {
    position: relative;
   	margin-bottom: 50px;
}

.section-padding {
    padding: 70px 0; 
}

.instagram-area-bg {
    background: rgba(0, 0, 0, 0) url(../images/bg_abstract.png) no-repeat fixed 0 0 / cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.area-title-insta {
    margin-bottom: 60px;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #212324;
}

a:hover {
    text-decoration: none;
}
a:focus {
	text-decoration : none;
}

.instagram-area .area-title-insta h4 {
    font-size: 30px;
	color: #ffffff;
}

.instagram-area .area-title-insta h4 a {
    color: #fafb84;
    
}

.instafeed-size {
  display: inline-block;
  width: 20%;
}

#instafeed img {
  padding: 0 10px;
  opacity: 0.8;
  filter: alpha(opacity-80);
}

img {
    max-width: 100%;
    height: auto;
}

#instafeed img:hover {
  opacity: 1;
  filter: alpha(opacity-100);
}