/*!
 * Start Bootstrap - Business Casual (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url('../../resources/images/bg_full.jpg') no-repeat fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	height: 100%;
}

/* .ui-page{
    background: url('../../resources/images/bg_3.png') 0 0 no-repeat fixed !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

h1, h2, h4, h5, h6 {
	text-transform: uppercase;
	font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

p {
	color: #000;
}

hr {
	max-width: 400px;
	border-color: #999999;
}

.brand, .address-bar {
	display: none;
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}

.navbar-nav {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
}

.img-full {
	min-width: 100%;
}

.brand-before, .brand-name {
	text-transform: none;
}

.brand-before {
	margin: 15px 0;
}

.brand-name {
	margin: 0;
	font-size: 30px;
}

.tagline-divider {
	margin: 15px auto 3px;
	max-width: 250px;
	border-color: #999999;
}

.box {
	margin-bottom: 10px;
	padding: 10px 10px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}

.intro-text {
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 1px;
}

.img-border {
	float: none;
	margin: 0 auto 0;
	border: #999999 solid 1px;
}

.img-left {
	float: none;
	margin: 0 auto 0;
}

.ui-footer {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	position: absolute !important;
	bottom: 0;
	width: 100%;
}

.ui-footer p {
	margin: 0;
	padding: 10px 0;
}

@media screen and (min-width:768px) {
	
	.brand {
		display: inherit;
		margin: 0;
		padding: 20px 0 15px;
		text-align: center;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial,
			sans-serif;
		font-size: 5em;
		font-weight: 700;
		line-height: normal;
		color: #fff;
	}
	.top-divider {
		margin-top: 0;
	}
	.img-left {
		float: left;
		margin-right: 25px;
	}
	.address-bar {
		display: inherit;
		margin: 0;
		padding: 0 0 0px;
		text-align: center;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		text-transform: uppercase;
		font-size: 1.25em;
		font-weight: 400;
		letter-spacing: 3px;
		color: #fff;
	}
	.navbar {
		border-radius: 0;
		margin-bottom: 15px;
	}
	.navbar-header {
		display: none;
	}
	.navbar {
		min-height: 0;
	}
	.navbar-default {
		border: none;
		background: #fff;
		background: rgba(255, 255, 255, 0.9);
	}
	.nav>li>a {
		padding: 35px;
	}
	.navbar-nav>li>a {
		line-height: normal;
	}
	.navbar-nav {
		display: table;
		float: none;
		margin: 0 auto;
		table-layout: fixed;
		font-size: 1.25em;
	}
}

@media screen and (min-width:1200px) {
	.box:after {
		content: '';
		display: table;
		clear: both;
	}
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background-color: transparent !important;
}

.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
	min-height: 100% !important;
}

.container {
	margin-bottom: 30px;
}

.img-list {
	top: inherit !important;
	width: 90px;
	height: 105px;
	max-height: none !important;
	max-width: none !important;
}

.img-show {
	display: block;
	margin: auto;
	max-width: 290px;
	height: auto;
	max-height: 440px;
}

.navbar-header a {
	color: #777 !important;
}

.subtitle {
	font-size: 20px;
}

.ui-icon-loading {
	background: url("../../resources/images/ajax-loader.gif");
}

.ui-loader .ui-icon-loading {
	width: 46px !important;
	height: 46px !important;
}

.ui-btn{
	background: rgba(255, 255, 255, 0.9) !important;
}

@media only screen and (max-width: 736px) {
	html {
		background: #b3b3b3 !important;
	}
}