/* FONTS FOR ALL SITE	:::::::::::::::::::::::::  */
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.content {
	background-color: #F5F5F5;
	font-family: "Calibri Light", Calibri, Arial, sans-serif;
	font-size: 0.85em;
}

.ui-outputlabel-rfi {
	color: #ff0000 !important;
}

.ui-outputlabel {
	text-align: left;
	margin: 2px 0;
}

.ui-outputlabel.ui-state-error {
	background: transparent;
	color: #B81900
}

.ui-panel-titlebar {
	text-align: center;
}

.ui-panel .ui-panel-titlebar {
	padding: 6px 12px;
}

.ui-panel {
    margin: 10px;
	padding: 0;
}

.ui-panel-content {
	margin-top: 10px;
}

.buttonsGroup .ui-button {
	margin: 10px 5px;
	font-weight: normal;
}

.buttonsGroup {
	text-align: center;
	width: 100%
}

.buttonsOptions {
	width: 120px;
	text-align: center;
}

.buttonsAction {
    text-align: center !important;
    margin: 10px 0 !important;
    background: none !important;
}

.content .ui-grid-col-1,
.content .ui-grid-col-2,
.content .ui-grid-col-3,
.content .ui-grid-col-4,
.content .ui-grid-col-5,
.content .ui-grid-col-6,
.content.ui-grid-col-7,
.content .ui-grid-col-8,
.content .ui-grid-col-9,
.content .ui-grid-col-10,
.content .ui-grid-col-11,
.content .ui-grid-col-12 {
	margin-bottom: 5px;
}

.ui-grid-col-1>label,
.ui-grid-col-2>label,
.ui-grid-col-3>label,
.ui-grid-col-4>label,
.ui-grid-col-5>label,
.ui-grid-col-6>label,
.ui-grid-col-7>label,
.ui-grid-col-8>label,
.ui-grid-col-9>label,
.ui-grid-col-10>label,
.ui-grid-col-11>label,
.ui-grid-col-12>label {
    padding-top: 5px;
}

.noBorders tr,.noBorders td {
    background: none !important;
    border: none !important;
}

.ui-widget-content .ui-state-default.ui-inputtextarea,
.ui-widget-content .ui-state-default.ui-chkbox-box,
.ui-widget-content input.ui-state-default,
.ui-widget-content .ui-radiobutton .ui-radiobutton-box,
.login input.ui-state-default,
.ui-widget-content .ui-selectonemenu {
	background-image: none;
	background-color: #fff;
	border: 1px solid #dcdcdc;

	-webkit-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
			box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.ui-inputfield.ui-state-focus,
.ui-widget-content .ui-inputfield.ui-state-focus,
.ui-widget-header .ui-inputfield.ui-state-focus,
.ui-widget-content .ui-chkbox .ui-chkbox-box.ui-state-focus,
.ui-widget-content .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
	border: 1px solid #758CC0;

	-webkit-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
			box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
}

.ui-fileupload-content {
	display: none;
}

.ui-fileupload-buttonbar {
    border: none;
    background: none;
    padding: 0px;
}

.ui-panel-upload {
    height: 250px;
    margin-top: -5px;
    margin-right: 0px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.8);
    text-align: center;
}


.image-uploaded{
	display: block !important;
	min-width: 150px;
	max-width: 150px;
	max-height: 150px;
	min-width: 150px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.img-thumbnail {
	border: 1px solid #dcdcdc;
}


.ui-inputfield.ui-selectmanymenu,
.ui-widget-content .ui-inputfield.ui-selectmanymenu,
.ui-widget-header .ui-inputfield.ui-selectmanymenu {
	width: auto;
	display: inline-block;
	border: none;
	background: none;
	box-shadow: none;
}
.ui-selectonelistbox .ui-selectlistbox-item,
.ui-selectmanymenu .ui-selectlistbox-item {
	display: inline-block;
	float: left;
	margin-right: 15px;
	background: none;
	vertical-align: middle;
}
.ui-selectmanycheckbox.ui-widget label {
	margin: 0 20px 0 5px;
}
.ui-selectoneradio.ui-widget label {
	padding-left: 14px;
	margin-right: 0px;
}
.ui-selectonelistbox .ui-state-highlight,
.ui-selectmanymenu .ui-state-highlight {
	background: none;
}

.ui-selectmanymenu .ui-chkbox {
	margin-right: 0px;
}

table.ui-selectoneradio {
    height: 2em;
}

table.ui-selectoneradio tbody tr td {
    display: inline-block;
    vertical-align: text-top;
    /*font-weight: bold;*/
    padding-left: 11px;
}

.ui-radiobutton-icon {
	margin-left: 0px;
}

.ui-inputNum .ui-widget{
	width: 100%;
}

.row-login {
	margin-top: 200px;
}


.btn-success {
	color: #fff;
	background-color: #dd4b39;
	border-color: #dd4b39;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	padding: .2em !important;
}

.btn-success:hover {
	color: #fff;
	background-color: #d73925;
	border-color: #d73925;
}

.btn-success:active {
	color: #fff;
	background-color: #d73925;
	border-color: #d73925;
}

.btn-success:focus {
	color: #fff;
	background-color: #d73925;
	border-color: #d73925;
}

.btn-success:active:hover {
	color: #fff;
	background-color: #c53624;
	border-color: #c53624;
}

.btn-success:active:focus {
	color: #fff;
	background-color: #c53624;
	border-color: #c53624;
}

.ui-page-theme-a {
	background-color: none !imporant;
}


.ui-button.ui-state-disabled,
.ui-autocomplete-input.ui-state-disabled ~ .ui-button,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger {
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}

span.ui-autocomplete:after {
	content: '';
	clear:both;
}

span.ui-autocomplete>input.ui-autocomplete-input, .hasDatepicker {
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

span.ui-autocomplete, .hasDatepicker {
    width: 100%;
}

span.ui-autocomplete>button.ui-button-icon-only,
span[class^="w"]>button.ui-button-icon-only,
button.ui-datepicker-trigger {
    width: 2em;
	margin: 0px;
	float: right;
	top: 0;
	right: 0em;
	position: absolute;
}

.ui-autocomplete.state {
    margin-left: -10px; ! important;
    margin-right: -2px;
    !
    important;
}

.ui-button.ui-state-disabled,
.ui-autocomplete-input.ui-state-disabled ~ .ui-button,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger {
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}

.ui-autocomplete {
	white-space: nowrap;
}

.ui-autocomplete .ui-icon-triangle-1-s {
    background-position: -160px -112px !important
}

div.ui-grid-col-1 div.ui-selectonemenu,
div.ui-grid-col-2 div.ui-selectonemenu,
div.ui-grid-col-3 div.ui-selectonemenu,
div.ui-grid-col-4 div.ui-selectonemenu,
div.ui-grid-col-5 div.ui-selectonemenu,
div.ui-grid-col-6 div.ui-selectonemenu,
div.ui-grid-col-7 div.ui-selectonemenu,
div.ui-grid-col-8 div.ui-selectonemenu,
div.ui-grid-col-9 div.ui-selectonemenu,
div.ui-grid-col-10 div.ui-selectonemenu,
div.ui-grid-col-11 div.ui-selectonemenu,
div.ui-grid-col-12 div.ui-selectonemenu {
	width:100% !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 2.3em;
	border: 1px solid #a8a8a8 !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-left: 2px;
}

.ui-selectonemenu label {
    float: left !important;
    font-weight: normal !important;
    text-align: left;
}

.ui-selectonemenu {
    display: inline;
    float: right;
    position: relative;
    margin-left: 5%;
    margin-right: -1%;
}

.labelLeft, .ui-selectonemenu-label{
	text-align: left !important;
}

.ui-button.ui-state-disabled,
.ui-autocomplete-input.ui-state-disabled ~ .ui-button,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger {
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	display: block;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container input.ui-state-default {
	width: 100%;
}

.ui-button.ui-state-disabled,
.ui-autocomplete-input.ui-state-disabled ~ .ui-button,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger {
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}

.ui-spinner {
	width: 100%;
}

.ui-spinner-input {
	width: 100%;
}