<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions" xmlns:m="http://code.google.com/p/gmaps4jsf/">

	<h:form id="formSearchBeer">
			<p:panel id="panelFilters" header="Filtros" toggleable="true" styleClass="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<p:outputLabel for="characteristic" value="Característica da Cerveja" class="ui-grid-col-2" />
					<p:inputText id="characteristic" placeholder="Nome, estilo, país de origem, cervejaria..." value="#{beerSearchController.searchValue}" required="false" class="ui-grid-col-10" />
				</div>
			</p:panel>
			
			<div class="buttonsGroup">
				<p:commandButton id="searchBtn" icon="ui-icon-search" value="Consultar" update="@form" action="#{beerSearchController.find}">
					<p:blockUI block="resultsDataTable" trigger="searchBtn">
						Carregando
						<br />
						<h:graphicImage library="images" name="ajax-loading.gif" />
					</p:blockUI>
				</p:commandButton>
	
				<p:commandButton id="cleanCommandButton" value="Limpar" action="#{beerSearchController.clean}" icon="ui-icon-arrowrefresh-1-w" update="panelFilters" process="@this">
					<p:resetInput target="formSearchBeer"></p:resetInput>
				</p:commandButton>
			</div>
			
		<p:panel id="resultsPanel" header="Resultados" toggleable="true" styleClass="ui-grid ui-grid-responsive">
			<p:dataTable id="resultsDataTable" binding="#{beerSearchController.searchResults}" value="#{beerSearchController.dataModel}" reflow="true" styleClass="ui-grid ui-grid-responsive">

				<p:column styleClass="buttonsOptions" headerText="Opções" exportable="false">
					<p:commandButton id="editCommandButton" action="#{beerSearchController.edit}" icon="ui-icon-pencil" title="Editar" update=":beerTabView">
						<f:setPropertyActionListener target="#{beerSearchController.editEntity}" value="#{item}" />
					</p:commandButton>

					<p:commandButton id="deleteCommandButton" icon="ui-icon-trash" title="Remover" oncomplete="PF('confirmation').show();">
						<f:setPropertyActionListener target="#{beerSearchController.removeEntity}" value="#{item}" />
					</p:commandButton>
				</p:column>

				<p:column id="nameColumn" headerText="Nome" sortBy="#{item.name}">
					<h:outputLabel value="#{item.name}" />
				</p:column>
				
				<p:column id="volumeColumn" headerText="Volume" sortBy="#{item.volume}">
					<h:outputLabel value="#{item.volume}ml" />
				</p:column>
				
				<p:column id="styleColumn" headerText="Estilo" sortBy="#{item.style}">
					<h:outputLabel value="#{item.style}" />
				</p:column>
				
				<p:column id="countryOriginColumn" headerText="País" sortBy="#{item.countryOrigin}">
					<h:outputLabel value="#{item.countryOrigin}" />
				</p:column>
				
				<p:column id="inStockColumn" headerText="Em estoque" sortBy="#{item.inStock}">
					<h:outputText value="#{item.inStock != null ? item.inStock ? 'Sim' : 'Não' : '-' }" />
				</p:column>

			</p:dataTable>

		</p:panel>
		
		<p:confirmDialog id="confirmation" message="Deseja realmente remover este registro?" header="Confirmação de remoção" widgetVar="confirmation"  appendTo="@(body)">
			<div class="buttonsGroup">
				<p:commandButton id="simCommandButton" value="Sim" onclick="PF('confirmation').hide()" process="@this" icon="ui-icon-check" actionListener="#{beerSearchController.remove}" update="@form" />
				<p:commandButton id="naoCommandButton" onclick="PF('confirmation').hide()" value="Não" type="button" icon="ui-icon-cancel" />
			</div>
		</p:confirmDialog>
		
	</h:form>
</ui:composition>