<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:x="http://java.sun.com/jsf/composite/components" template="/views/admin/index.xhtml">

	<ui:define name="content">

		<p:tabView id="beerTabView" widgetVar="beerTabs" dynamic="false">
		
			<p:ajax event="tabClose" update="beerTabView" listener="#{beerSearchController.onTabClose}" process="@all" />
			
			<p:tab id="searchTab" binding="#{beerSearchController.searchTab}" title="Consultar Cervejas">
				<section>
					<div>
						<ol class="breadcrumb">
							<li><i class="fa fa-beer"></i> Cervejas</li>
							<li class="active">Consultar</li>
						</ol>
					</div>
				</section>
				
				<ui:include src="BeerSearch.xhtml" />
			</p:tab>
			
			<p:tab id="editTab" binding="#{beerSearchController.editTab}" title="Editar Cerveja" rendered="false" closable="true">
				<section>
					<div>
						<ol class="breadcrumb">
							<li><i class="fa fa-beer"></i> Cervejas</li>
							<li class="active">Editar</li>
						</ol>
					</div>
				</section>
				<ui:include src="BeerEdit.xhtml" />
			</p:tab>

		</p:tabView>
	</ui:define>
</ui:composition>