<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/admin/index.xhtml">

	<ui:define name="content">
		<h:form id="createForm">
			<section>
				<div>
					<ol class="breadcrumb">
						<li><i class="fa fa-beer"></i> Cervejas</li>
						<li class="active">Cadastro</li>
					</ol>
				</div>
			</section>

			<p:panel id="dataPanel" header="Dados da Cerveja" toggleable="true" styleClass="ui-grid ui-grid-responsive">

				<div class="ui-fluid">
					<p:outputLabel value="Imagem" styleClass="ui-grid-col-1">
						<span class="ui-outputlabel-rfi">*</span>
					</p:outputLabel>
					<p:fileUpload id="uploader" label="Selecionar" fileUploadListener="#{beerController.handleFileUpload}" styleClass="ui-grid-col-2"
							auto="true" mode="advanced" dragDropSupport="false" update="imageUploaded"/>
				</div>
				
				<div class="ui-grid-row">
					<p:graphicImage id="imageUploaded" value="#{imageController.imageContent}" styleClass="image-uploaded img-thumbnail" cache="false"/>
				</div>

				<div class="ui-grid-row">
					<p:outputLabel for="name" value="Nome" class="ui-grid-col-1" />
					<p:inputText id="name" maxlength="50" value="#{beerController.entity.name}" required="true" class="ui-grid-col-3"/>

					<p:outputLabel for="price" value="Preço" class="ui-grid-col-1" />
					<pe:inputNumber id="price" value="#{beerController.entity.price}" maxValue="9999" required="true" styleClass="ui-grid-col-2"
									symbolPosition="left" symbol=" R$" thousandSeparator="." decimalPlaces="2" decimalSeparator="," />
					
					
					<p:outputLabel for="volume" value="Volume" class="ui-grid-col-1" />
					<pe:inputNumber id="volume" value="#{beerController.entity.volume}" maxValue="9999" required="true" styleClass="ui-grid-col-1"
									symbolPosition="left" symbol="ml" thousandSeparator="" decimalPlaces="0" decimalSeparator="" />
					
					<p:outputLabel for="alcoholicGraduation" value="Grad. Alcoólica" class="ui-grid-col-2" />
					<pe:inputNumber id="alcoholicGraduation" value="#{beerController.entity.alcoholicGraduation}" maxValue="99" decimalPlaces="1" symbol="% ABV" symbolPosition="right" styleClass="ui-grid-col-1"/>  
				</div>
				
				<div class="ui-grid-row">
					<p:outputLabel for="styleAutoComplete" value="Estilo" class="ui-grid-col-1" />
					<div class="ui-grid-col-3">
						<p:autoComplete id="styleAutoComplete" dropdown="true"	value="#{beerController.entity.style}"
									completeMethod="#{beerController.autocompleteStyle}" var="var" itemLabel="#{var.style}" itemValue="#{var}"
									forceSelection="true" minQueryLength=""	label="Estilo" scrollHeight="200"
									converter="autocompleteConverter" required="true">
						</p:autoComplete>
					</div>
					
					<p:outputLabel for="bitternessSelect" value="Amargor" class="ui-grid-col-1" />
					<div class="ui-grid-col-3">
						<p:selectOneMenu id="bitternessSelect" value="#{beerController.entity.bitterness}" label="Amargor" required="false">
							<f:selectItem itemLabel="" itemValue="#{null}" />
							<f:selectItems value="#{beerController.autocompleteBitterness()}" var="var" itemLabel="#{var}" itemValue="#{var}" />
						</p:selectOneMenu>
					</div>
					
					<div></div>
					<p:outputLabel for="brewery" value="Cervejaria" class="ui-grid-col-1" />
					<p:inputText id="brewery" maxlength="50" value="#{beerController.entity.brewery}" required="false" class="ui-grid-col-2" />
			
					<p:outputLabel for="countryOrigin" value="País" class="ui-grid-col-1" />
					<p:inputText id="countryOrigin" maxlength="50" value="#{beerController.entity.countryOrigin}" required="false" class="ui-grid-col-2" />
				</div>
				
				<div class="ui-grid-row">
					<p:outputLabel value="Temperatura de Serviço" class="ui-grid-col-2" />
					<div class="ui-grid-col-1">
						<p:spinner id="startTemperature" value="#{beerController.startTemperature}" maxlength="3" required="false"/>
					</div>
					<div style="text-align: center;font-weight:bold;padding-top:4px;">a</div>
					<div class="ui-grid-col-1">
						<p:spinner id="endTemperature" value="#{beerController.endTemperature}" maxlength="3" required="false"/>
					</div>	
					
					<p:outputLabel for="cupTypeAutoComplete" value="Tipo de Copo" class="ui-grid-col-2" />
					<div class="ui-grid-col-3">
						<p:autoComplete id="cupTypeAutoComplete" dropdown="true"	value="#{beerController.entity.cupType}"
									completeMethod="#{beerController.autocompleteCupType}" var="var" itemLabel="#{var.cupType}" itemValue="#{var}"
									forceSelection="true" minQueryLength=""	label="Estilo" scrollHeight="200"
									converter="autocompleteConverter" required="false">
						</p:autoComplete>
					</div>
					
					<p:outputLabel for="code" value="Código" class="ui-grid-col-1" />
					<p:inputText id="code" maxlength="50" value="#{beerController.entity.code}" required="false" class="ui-grid-col-2" />
				</div>
				
				<div class="ui-grid-row">
					<p:outputLabel for="description" value="Descrição" class="ui-grid-col-2" />
					<p:inputTextarea id="description"  rows="3" value="#{beerController.entity.description}" required="false" class="ui-grid-col-10" />
				</div>
				
				<div class="ui-grid-row">
					<p:outputLabel for="harmonization" value="Harmonização" class="ui-grid-col-2" />
					<p:inputTextarea id="harmonization"  rows="3" value="#{beerController.entity.harmonization}" required="false" class="ui-grid-col-10" />
				</div>
				
				<div class="ui-grid-row">
					<p:outputLabel for="inStock" value="Em estoque"	class="ui-grid-col-2" />
					<p:selectOneRadio id="inStock"	value="#{beerController.entity.inStock}" class="ui-grid-col-3" required="true">
						<f:selectItem itemLabel="Não" itemValue="#{false}" />
						<f:selectItem itemLabel="Sim" itemValue="#{true}" />
					</p:selectOneRadio>
				</div>

				<div class="buttonsGroup">
					<p:commandButton id="createCommandButton" icon="ui-icon-disk" value="Cadastrar" action="#{beerController.create}" process="@form" update="@form" />
					<p:commandButton id="cleanCommandButton" icon="ui-icon-arrowrefresh-1-w" value="Limpar" action="#{beerController.clean}" process="@this" update="@form">
						<p:resetInput target=":createForm"></p:resetInput>
					</p:commandButton>
				</div>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>