<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/admin/index.xhtml">

	<ui:define name="content">
		<h:form id="createForm">
			<section>
				<div>
					<ol class="breadcrumb">
						<li><i class="fa fa-user"></i> Usuário</li>
						<li class="active">Editar</li>
					</ol>
				</div>
			</section>
			<p:panel id="dataPanel" header="Dados do Usuário" toggleable="true" styleClass="ui-grid ui-grid-responsive">
			
				<div class="ui-grid-row">
					<p:outputLabel for="name" value="Nome" class="ui-grid-col-3" style="text-align: left;" />
					<p:inputText id="name" value="#{userManageController.entity.name}" required="true" class="ui-grid-col-9" />
				</div>
		
				<div class="ui-grid-row">
					<p:outputLabel for="username" value="Usuário" class="ui-grid-col-3" />
					<p:inputText id="username" maxlength="20" value="#{userManageController.entity.username}" required="true"
						class="ui-grid-col-9" />
				</div>
		
				<div class="ui-grid-row">
					<p:outputLabel for="password" value="Senha" class="ui-grid-col-3" />
					<p:password id="password" redisplay="true" maxlength="15" value="#{userManageController.password}" required="true" class="ui-grid-col-9" />
				</div>
		
				<div class="ui-grid-row">
					<p:outputLabel for="confirmPassword" value="Confirmar senha" class="ui-grid-col-3" />
					<p:password id="confirmPassword" redisplay="true" maxlength="15" required="true" value="#{userManageController.confirmPassword}" class="ui-grid-col-9" />
				</div>
			
				<div class="buttonsGroup">
					<p:commandButton id="updateCommandButton" icon="ui-icon-pencil" value="Atualizar" action="#{userManageController.update}" update="@form"/>
					<p:commandButton id="cancelCommandButton" value="Cancelar"  action="#{userManageController.cancel}" update="@form" icon="ui-icon-cancel" process="@this" />
				</div>
				
			</p:panel>
			
		</h:form>
	</ui:define>

</ui:composition>