<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon"
		href="#{request.contextPath}/resources/images/rustic_icon.png"></link>

	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/js/bootstrap/css/bootstrap.min.css" />

	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/dist/css/skins/skin-red.min.css" />

	<link rel="stylesheet"
		href="#{request.contextPath}/resources/css/layout.css" />
	<link rel="stylesheet"
		href="#{request.contextPath}/resources/css/grid.css" />

</h:head>

<h:body class="hold-transition skin-red sidebar-mini">
	<h:form id="formLogin">
			<div class="row-login">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">AdminRustic - Identificação do Usuário</h3>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<p:inputText id="username" placeholder="Usuário" value="#{loginController.username}" styleClass="form-control" autocomplete="off"/>
							</div>
							<div class="form-group">
								<p:password id="password" placeholder="Senha" value="#{loginController.password}" feedback="false" styleClass="form-control" autocomplete="off"/>
							</div>
							
							<h:messages id="messages" layout="table" class="grid_24"
								style="color:red; font-weight:bold; text-align: center;" />
							<p:commandButton id="loginButton" action="#{loginController.login}" value="Login" update="messages password" styleClass="btn btn-lg btn-success btn-block" />
						</div>
					</div>
				</div>
			</div>
	</h:form>
</h:body>

</html>
