<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<h:head>

	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

   	<title>Rustic Hamburgueria</title>
	<link rel="shortcut icon"
		href="#{request.contextPath}/resources/images/rustic_icon.png"></link>

	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/js/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="#{request.contextPath}/resources/css/layout-menu.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css"/>
 	
	
	<h:outputStylesheet library="css"
        name="jquery-mobile/jquery.mobile-1.4.5.min.css" />
    <h:outputScript library="js" name="jquery-mobile/jquery.js" />
    <h:outputScript library="js" name="jquery-mobile/jquery.mobile-1.4.5.min.js" />
	<h:outputScript library="js" name="bootstrap/js/bootstrap.min.js" />	
	
	<h:outputScript library="js" name="beer/beerShow.js" />
	<h:outputScript library="js" name="jquery-raty/jquery.raty.js" />
	
</h:head>

<body>
	<span id="pageContextPath" data="#{request.contextPath}" style="display:none;"/>

	<div data-role="page" data-dom-cache="false" id="beerShow">
			
	    <div class="brand">Rustic Hamburgueria</div>
	    <div class="address-bar">Macapá Shopping - R. Leopoldo Machado, 2334 - Trem, Macapá-AP</div>
	
	    <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="beerMenu.xhtml">Rustic Hamburgueria</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
            </div>
	    </nav>
	
	    <div role="main" class="ui-content container">
			
			<div id="backButton"/>
			
	        <div class="box col-md-12">
	        	<div class="row">
		       		 <div class="col-lg-4">	       		 
			       		 <img id="beerImage" class="img-show" src=""/>
		       		 </div>
		       		  <div class="col-lg-8">	 
		       		  	<div class="row">
			       		 	<h3 class="col-lg-12"><b id="beerName"></b></h3>
		       		  	</div>
	       		  		<div class="row">
			       		 	<p id="beerDescription" class="col-lg-12"></p>
		       		  	</div>
		       		  	 <div class="row">
			       		  	<div id="beerRateAppearance" class="col-xs-12"></div>
			       		  	<div id="beerRateAroma" class="col-xs-12"></div>
			       		  	<div id="beerRateFlavor" class="col-xs-12"></div>
		       		  	</div>
			       		<div class="row">
			       			<h3 class="col-lg-12 subtitle"><b id="especificationTitle"></b></h3>
			       		 	<div id="beerBrewery" class="col-xs-6"></div>
			       		 	<div id="beerCountry" class="col-xs-6"></div>
			       		</div>
			       		<div class="row">
			       		 	<div id="beerStyle" class="col-xs-6"></div>
			       		 	<div id="beerGraduation" class="col-xs-6"></div>
			       		</div>	
			       		<div class="row">
			       		 	<div id="beerTemperature" class="col-xs-6"></div>
			       		 	<div id="beerCup" class="col-xs-6"></div>
			       		</div>
			       		<div class="row">
			       		 	<div id="beerBitterness" class="col-xs-6"></div>
			       		</div>
			       		<div class="row">
			       		 	<div id="beerPrice" class="col-xs-12"></div>
			       		</div>
			       		<div class="row">
			       			<h3 class="col-lg-12 subtitle"><b id="harmonizationTitle"></b></h3>
			       		 	<p id="beerHarmonization" class="col-lg-12"></p>
			       		</div>
			       		<br/>
		       		 </div>
	        	</div>
	       	</div>
	    </div>

	     <div data-role="footer">
             <div class="col-lg-12 text-center">
                 <p>Rustic Hamburgueria © 2016</p>
             </div>
	     </div>
	</div>
	
</body>

</html>
