<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<h:head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="cache-control" content="no-cache" />

   	<title>Rustic Hamburgueria</title>
   	
	<link rel="shortcut icon"
		href="#{request.contextPath}/resources/images/rustic_icon.png"></link>
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/js/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="#{request.contextPath}/resources/css/layout-menu.css" />
	<link rel="stylesheet"
		href="#{request.contextPath}/resources/js/jquery-raty/jquery.raty.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css"/>
	
	<h:outputStylesheet library="css"
        name="jquery-mobile/jquery.mobile-1.4.5.min.css" />
    <h:outputScript library="js" name="jquery-mobile/jquery.js" />
    <h:outputScript library="js" name="jquery-mobile/jquery.mobile-1.4.5.min.js" />
	<h:outputScript library="js" name="bootstrap/js/bootstrap.min.js" />

	<h:outputScript library="js" name="beer/beerShow.js" />
	<h:outputScript library="js" name="beer/beerMenu.js" />
	<h:outputScript library="js" name="jquery-raty/jquery.raty.js" />
		
</h:head>

<body>
	<span id="pageContextPath" data="#{request.contextPath}" style="display:none;"/>

	<div data-role="page" data-dom-cache="false" id="beerMenu">
			
	    <div class="brand">Rustic Hamburgueria</div>
	    <div class="address-bar">Macapá Shopping - R. Leopoldo Machado, 2334 - Trem, Macapá-AP</div>
	
	    <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="beerMenu.xhtml">Rustic Hamburgueria</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
            </div>
	    </nav>
	
	    <div role="main" class="ui-content container">
	
	        <div class="row">
	            <div class="box">
	                <div class="col-md-12 text-center">
	                    <h1 class="brand-name">Carta de Cervejas</h1>
	                </div>
	            </div>
	        </div>
			
	        <div class="row">
                <div class="col-lg-12">
                	<form>
					  <input id="filterable-input" type="text" data-type="search" placeholder="Procure por nome, preço, estilo de cerveja..."/>
					</form>	
                	<ul data-role="listview"  id="beerList" data-autodividers="true" data-filter="true" data-inset="true" data-input="#filterable-input"></ul>
                </div>
	        </div>
	
	    </div>
	     <div data-role="footer">
             <div class="col-lg-12 text-center">
                 <p>Rustic Hamburgueria © 2016</p>
             </div>
	     </div>
	</div>
	
</body>

</html>
